/* PHASE 2: Navigation */

.header-logo {
    float: left;
    border-right: #ccc solid 1px;
    border-left: #ccc solid 1px;
    font-weight: bold;
}

.header-logo:hover {
    background: black;
}

.header-list {
    float: right;
    border-right: #ccc solid 1px;
}

.header-list > li {
    float: left;
    border-left: #ccc solid 1px;
}

.header-list > li:hover {
    background: black;
}